/* From Uiverse.io by vinodjangid07 */ 
.editBtn {
    width: 55px;
    height: 55px;
    border-radius: 20px;
    border: none;
    background-color: rgb(93, 93, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  .editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
  }
  .editBtn:hover::before {
    transform: scale(1);
  }
  .editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
  }
  
  .editBtn svg {
    height: 17px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
  }
  .editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
  }
  .editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 19px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
  }
  .editBtn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #empresa{
    width: 100%;
    margin: 10px;
    padding: 10px;
  }

  .campo{
    border-top: 1px solid black;
    padding: 10px 0 30px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  /*---------------------------------------------------*/

  .form-container {
    width: 600px;
    border-radius: 0.75rem;
    background-color: var(--light);
    padding: 2rem;
    margin: 60px auto;
    
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  

  
  .campo {
    margin-top: 0.25rem;
    font-size: 17px;
    line-height: 1.25rem;
    
  }
  
  .campo label {
    display: block;
    color: black;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 20px;
    margin: 5px;
  }
  
  .campo input, .campo textarea {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid var(--dark);
    outline: 0;
    padding: 0.75rem 1rem;
    font-size: 17px;
    resize: none;
  }

  .campo textarea {
    height: 150px;
  }
  
  .campo input:focus {
    border-color: var(--dark);
  }
  
  .btn {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    padding: 0.75rem;
    text-align: center;
    color: black;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
}

/* From Uiverse.io by G4b413l */ 
.card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;

}

.card-inner {
  width: inherit;
  height: inherit;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: radial-gradient(white, #ccc);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}


/* From Uiverse.io by Quezaquo */ 
.container {
  font-size: 18px;
  color: #333;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hover-me {
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #333;
}

.tooltip {
  width: 68%;
  height: auto;
  background: #ffffff;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform-origin: center top;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 80%;
  transform: translateX(-50%);
  border-width: 8px 7px 0;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.tooltip p {
  margin: 0;
  color: #333;
  font-weight: 600;
}

.container:hover .tooltip {
  top: -10px;
  opacity: 1;
  visibility: visible;
  animation: goPopup 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes goPopup {
  0% {
    transform: translateY(0) scaleY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-50%) scaleY(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%) scaleY(1);
    border-radius: 8px;
    opacity: 1;
    height: 40px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1px);
  }
  60% {
    transform: translateY(-2px);
  }
}

section {
  min-height: 100vh;
  width: 100%;
}

#section-nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nombre-empresa {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  text-align: center;
}

#nombre-empresa h1 {
  font-size: 3.8rem;
  margin-bottom: 2rem;
  font-family: "Newsreader", serif;
}




#mision-empresa {
  width: 50%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}

#mision-empresa h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

#mision-empresa p {
  font-size: 1rem;
  line-height: 1.6;
  width: 80%;
}

#section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#card-empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  width: 80%;
}
.card-inner p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}


#section-enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: var(--primary);
  color: var(--light);
}

#section-enlaces h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  vertical-align: middle;
}

#section-enlaces p {
  font-size: 1rem;
  line-height: 1.6;
}

#section-enlaces button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.hover-me {
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 20px;
}

.card-enlaces {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 2px solid var(--dark);
  box-shadow: 10px 10px 10px var(--dark);
  margin: 50px;
}

.card-enlaces:hover {
transform: scale(1.1);
transition: all 0.5s ease;
}

.card-enlaces button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#estructura {
  width: 700px;
}

.tabla-btn svg{
  margin: 0 !important;
}