.form-container {
  max-width: 90%;
  border-radius: 0.75rem;
  background-color: var(--light);
  padding: 2rem;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.campo label {
  display: block;
  color: black;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  margin: 5px;
}

.campo input,
.campo textarea {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--dark);
  outline: 0;
  padding: 0.75rem 1rem;
  font-size: 17px;
  resize: none;
}

.campo textarea {
  height: 150px;
  width: 100%;
}

.campo input:focus {
  border-color: var(--dark);
}

.btn {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  padding: 0.75rem;
  text-align: center;
  color: black;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

form[name="confg"] {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 700px;
  padding-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #004080;
  color: white;
}

.campo {
  margin-top: 0.25rem;
  font-size: 17px;
  line-height: 1.25rem;
  width: auto;

}

.campo label {
  display: block;
  color: black;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  margin: 5px;
}

.campo input,
.campo textarea {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--dark);
  outline: 0;
  padding: 0.75rem 1rem;
  font-size: 17px;
  resize: none;
}

.campo textarea {
  height: 150px;
}

.campo input:focus {
  border-color: var(--dark);
}

.btn {
  display: block;
  width: 100%;
  background-color: #4CAF50;
  padding: 0.75rem;
  text-align: center;
  color: black;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.container-campo {
  border-top: 1px solid black;
  padding: 20px;
  width: 100%;
}

#parte_diario {
  width: 100%;
  position: relative;
  padding-top: 40px;
}

.etiqueta-primary {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Newsreader', serif;
  ;
}

form[name="parte_diario"] {
  width: 100%;
}



.custom-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.campo-fecha {
  right: 0;
  top: 0;
  position: absolute;
}

.campo-observaciones {
  width: 100%;
}
 .campo-fecha input {
  height: 30px;
  font-family: 'Newsreader', serif;
  font-size: 17px;
  padding: 10px;
}
::-webkit-calendar-picker-indicator{
  background-color: #bb0909;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}