{% extends 'base.html.twig' %}

{% block title %}Edit UEB{% endblock %}

{% block body %}
    <h1>Edit UEB</h1>

    {{ include('ueb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_u_e_b_index') }}">back to list</a>

    {{ include('ueb/_delete_form.html.twig') }}
{% endblock %}
