<form method="post" action="{{ path('app_parte_diario_delete', {'id': parte_diario.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parte_diario.id) }}">
    <button class="btn">Delete</button>
</form>
