

<div class="form-container">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <span style="width: 100%; display: flex; justify-content: flex-end;">
        <button class="btn">{{ button_label|default('Guardar') }}</button>
    </span>
{{ form_end(form) }}
    </div>
