{% extends 'base.html.twig' %}

{% block title %}Edit ParteDiario{% endblock %}

{% block body %}
    <h1>Edit ParteDiario</h1>

    {{ include('parte_diario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_parte_diario_index') }}">back to list</a>

    {{ include('parte_diario/_delete_form.html.twig') }}
{% endblock %}
